{% extends "base.html" %}

{% block title %}
	Login
{% endblock %}

{% block content %}
    <h2 class="pb-4">Log in</h2>
    <div class="d-flex align-items-end justify-content-between">
        <div>
            <form action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Log in" class="btn btn-primary">
            </form>
        </div>
        <a href="{% url 'accounts:register' %}">Register</a>
    </div>
{% endblock %}

