{% extends "base.html" %}

{% block title %}
	Register
{% endblock %}

{% block content %}
    <h2 class="pb-4">Create an Account</h2>
    <div class="d-flex align-items-end justify-content-between">
        <div class="pt">
            <form action="{% url 'accounts:register' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register" class="btn btn-primary mt-4">
            </form>
        </div>
        <a href="{% url 'accounts:login' %}">Log in</a>
    </div>
{% endblock %}